<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient's Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='pat_dash.css') }}">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>
<body>
  <header class="header" role="banner">
    <div class="nav__logo">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="NeuroSight Analytics Logo">NeuroSight<span>Analytics</span>
  </div>

    <div class="search-bar" role="search">
      <label for="search" class="sr-only">Search</label>
      <input type="text" id="search" placeholder="Search reports, scans...">
    </div>
    <nav class="sidebar" role="navigation">
      <ul>
          <li><a href="#"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
          <li><a href="#"><i class="fas fa-file-medical"></i> Reports</a></li>
          <li><a href="#"><i class="fas fa-user"></i> Profile</a></li>
          <li><a href="logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
      </ul>
    </nav>
    <!-- Button for Chat -->
    <a href="{{ url_for('chatbot_page') }}" class="chat-icon"><i class="fas fa-comment-alt"></i></a>
  </header>

  <div class="user-info">
    <p>Welcome, <span class="last-name">{{ session.username }}</span></p>
  </div>

  <main class="main-content" role="main">

    <div class="header__form1">
        <ul>
          <li><a href="{{ url_for('pat_rep') }}">Retrieve patient's report</a></li>
        </ul>
    </div>
  </main>
</body>
</html>